.UploadImagePreview label {
  display: inline-block;
}
.preview_txt {
  cursor: pointer;
}
.previewImage_area {
  position: relative;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  background-color: #ddd;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.previewImage_area > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  object-fit: cover;
}